$primary: #fb5800;
$primary-far: #fd7a38;
$secondary: #ffb703;
$tertiary: #023047;
$aqua: #219ebc;
$azure: #8ecae6;
$dark-gray: #383838;
$white: #ffffff;
$pale-white: #dadada;
$negative: #ff0000;
$positive: #18b700;
