<section class="home-container">
    <section class="home-header">
        <app-card class="header-card">
            <span class="header-title">Hello, {{ userName }}</span>
            <span class="header-subtitle">How are you feeling today?</span>
        </app-card>
    </section>
    <section class="home-content">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </section>
    <section class="home-actions">
        <app-card class="controls">
            <section class="greenhouse-control">
                <mat-slide-toggle></mat-slide-toggle>
            </section>
            <section class="greenhouse-control">
                <mat-slide-toggle></mat-slide-toggle>
            </section>
            <section class="greenhouse-control">
                <mat-slide-toggle></mat-slide-toggle>
            </section>
            <section class="greenhouse-control">
                <mat-slide-toggle></mat-slide-toggle>
            </section>
        </app-card>
    </section>
</section>
